@{
    ViewData["Title"] = "Home Page";
}

@section Scripts { 
    <script src= "~/lib/angular/angular.min.js"></script>
    <script src="~/js/app-search.js"></script>
    <script src="~/js/searchController.js"></script>
}

<div ng-app ="app-search">

    <div class="row" ng-controller="searchController as contr">

        
        <div class="col-md-2" >
            <div class="container_50 clearfix" style="position: relative;">

                <div>
                    <br>
                    <span >Total Incidents nearby:  0  </span>
                </div>

                <div class="grid_40 push_5">
                    <br>
                    <div class="text-danger" ng-show="contr.errorMessage">{{ contr.errorMessage }} </div>
                    <form class="form-horizontal clearfix" ng-submit="contr.queryRes()" >

                        <div class="control-group">
                            <label>Event Type</label>
                            <div class="control">
                                <input type="text" class="input" name="keyword" ng-model="contr.Type" >
                            </div>
                                
                            <div>
                                <span class="help-block">eg. Assault or Breaking</span>
                                <input type="button" value="Add Type" ng-click="contr.addType()">
                            </div>

                            <br>
                            <label ng-show="contr.SubmitType.length != 0"> Included Types: </label>
                            <div ng-repeat="sTypes in contr.SubmitType">
                                <input type="checkbox" ng-click ="contr.removeType( $index )">{{ " " + sTypes }}
                            </div>
                            <br>

                        </div>

                        <!-- ng-change ="contr.queryRes()"  -->


                        <div class="control-group">
                            <label>Zip Code Location</label>
                            <div class="control">
                                <input type="text" class="input" id="location" ng-model="contr.Zip" >
                            </div>
                        </div>

                        <div>
                            <br>
                            <input type="button" value="Add Zip" ng-click="contr.addZip()">
                        </div>

                        <br>
                        <label ng-show="contr.SubmitZip.length != 0"> Included Zip Code: </label>
                        <div ng-repeat="sZips in contr.SubmitZip">
                            <input type="checkbox" ng-click="contr.removeZip( $index )">{{ " " + sZips }}
                        </div>
                        <br>

                        <div class="control-group">
                            <br>
                            Start Date Range:
                            <br>
                            <input type="date" ng-model="contr.StartDate">
                            <br>
                            End Date Range:
                            <br>
                            <input type="date" ng-model="contr.EndDate">
                            <br>

                        </div>
                        <br>


                        <div data-role="rangeslider">
                            <label for="price-min">Hour Range: {{ contr.StartHour }} {{ " to " }} {{ contr.EndHour }} </label>
                            <input type="range" ng-model="contr.StartHour" min="0" max="23" step="1" ng-mousedown="contr.hourAdj1()" ng-mousemove="contr.hourAdj1()">
                            <label for="price-max">Time Span: {{ contr.Span }}</label>
                            <input type="range" ng-model=" contr.Span" min="0" max="23" step="1" >
                        </div>

                        <div class="clearfix">
                            <div class="button-area">
                                <input type="submit" class="search-btn" value="Search">
                            </div>
                        </div>


                    </form>
                </div>
            </div>
        </div>   


        <div class="col-md-10" id="CriminalList" >

            <table class="table table-responsive table-striped">
                <tr ng-repeat="entry in contr.result">
                    <td>{{ entry.incident_date }} </td>
                    <td>{{ entry.zip }} </td>
                    <td>{{ entry.type }} </td>
                    <td>{{ entry.hours }} </td>
                    <td>{{ entry.description }} </td>
                </tr>
            </table>

        </div>

    </div>

</div>