@{
    ViewData["Title"] = "Home Page";
}

@section Scripts { 
    <script src= "~/lib/angular/angular.min.js"></script>
    <script src="~/js/app-search.js"></script>
    <script src="~/js/searchController.js"></script>

    <script src="~/js/markerclusterer.js"></script>

    <script 
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBIl84YiTY0jXqUlCReYwRjcYNDxzMT0K0&libraries=places">
    </script> 
    <!--
    <script>
        function initMap() { 
            var map = new google.maps.Map(document.getElementById('map'), {AIzaSyAd1xMYT1bt99qtFWQEzXiRBvORDWHgPtk
                zoom: 3,
                center: { lat: -28.024, lng: 140.887 }
            });

            // Create an array of alphabetical characters used to label the markers.
            var labels = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';

            // Add some markers to the map.
            // Note: The code uses the JavaScript Array.prototype.map() method to
            // create an array of markers based on a given "locations" array.
            // The map() method here has nothing to do with the Google Maps API.
            var markers = locations.map(function (location, i) {
                return new google.maps.Marker({
                    position: location,
                    label: labels[i % labels.length]
                });
            });

            // Add a marker clusterer to manage the markers.
            var markerCluster = new MarkerClusterer(map, markers,
                { imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m' });
        }
        var locations = [
            { lat: -31.563910, lng: 147.154312 },
            { lat: -33.718234, lng: 150.363181 },
            { lat: -33.727111, lng: 150.371124 },
            { lat: -33.848588, lng: 151.209834 },
            { lat: -33.851702, lng: 151.216968 },
            { lat: -34.671264, lng: 150.863657 },
            { lat: -35.304724, lng: 148.662905 },
            { lat: -36.817685, lng: 175.699196 },
            { lat: -36.828611, lng: 175.790222 },
            { lat: -37.750000, lng: 145.116667 },
            { lat: -37.759859, lng: 145.128708 },
            { lat: -37.765015, lng: 145.133858 },
            { lat: -37.770104, lng: 145.143299 },
            { lat: -37.773700, lng: 145.145187 },
            { lat: -37.774785, lng: 145.137978 },
            { lat: -37.819616, lng: 144.968119 },
            { lat: -38.330766, lng: 144.695692 },
            { lat: -39.927193, lng: 175.053218 },
            { lat: -41.330162, lng: 174.865694 },
            { lat: -42.734358, lng: 147.439506 },
            { lat: -42.734358, lng: 147.501315 },
            { lat: -42.735258, lng: 147.438000 },
            { lat: -43.999792, lng: 170.463352 }
        ]
    </script>

    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBIl84YiTY0jXqUlCReYwRjcYNDxzMT0K0&callback=initMap">
    </script> -->
    <!--
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular.min.js"></script>  -->
}

<div ng-app ="app-search">

    <div class="row" ng-controller="searchController as contr">

        
        <div class="col-md-2" >
            <div >

                <div>
                    <br>
                    <span > <b>Total Incidents nearby: <b> </span>
                    <br>
                    <span> {{ contr.result.length }}  </span>

                    <br>
                    <span> Current Address: </span>
                    <label >{{contr.PointedAddress}}</label>
                </div>

                <div >
                    <br>
                    <div class="text-danger" ng-show="contr.errorMessage">{{ contr.errorMessage }} </div>
                    <form  ng-submit="contr.queryRes()" >

                        <div class="control-group">
                            <label>Event Type</label>
                            <div class="control">
                                <input type="text" class="input" name="keyword" ng-model="contr.Type" >
                            </div>
                                
                            <div>
                                <span class="help-block">eg. Assault or Breaking</span>
                                <input type="button" value="Add Type" ng-click="contr.addType()">
                            </div>

                            <br>
                            <label ng-show="contr.SubmitType.length != 0"> Included Types: </label>
                            <div ng-repeat="sTypes in contr.SubmitType">
                                <input type="checkbox" ng-click ="contr.removeType( $index )">{{ " " + sTypes }}
                            </div>
                            <br>

                        </div>

                        <!-- ng-change ="contr.queryRes()"  -->


                        <div class="control-group">
                            <label>Zip Code Location</label>
                            <div class="control">
                                <input type="text" class="input" id="location" ng-model="contr.Zip" >
                            </div>
                        </div>

                        <div>
                            <br>
                            <input type="button" value="Add Zip" ng-click="contr.addZip()">
                        </div>

                        <br>
                        <label ng-show="contr.SubmitZip.length != 0"> Included Zip Code: </label>
                        <div ng-repeat="sZips in contr.SubmitZip">
                            <input type="checkbox" ng-click="contr.removeZip( $index )">{{ " " + sZips }}
                        </div>
                        <br>

                        <div class="control-group">
                            <br>
                            Start Date Range:
                            <br>
                            <input type="date" ng-model="contr.StartDate">
                            <br>
                            End Date Range:
                            <br>
                            <input type="date" ng-model="contr.EndDate">
                            <br>

                        </div>
                        <br>


                        <div data-role="rangeslider">
                            <label> Time Range: </label>
                            <br>
                            <label for="price-min"> {{" " + contr.StartHour + ":00"}} {{ " - " }} {{ contr.EndHour + 1 }} {{ ":00 " }} </label>
                            <input type="range" ng-model="contr.StartHour" min="0" max="23" step="1" ng-change="contr.hourAdj1()" >
                            <label for="price-max">Time Span: {{ contr.Span }}</label>
                            <input type="range" ng-model=" contr.Span" min="0" max="23" step="1"  ng-change="contr.hourAdj1()">
                        </div>

                        <div >
                            <div class="button-area">
                                <input type="submit" class="search-btn" value="Search">
                            </div>
                        </div>


                    </form>
                </div>
            </div>
        </div>   


        <div class="col-md-4" id="CriminalList" >

            <table class="table table-responsive table-striped">
                <tr ng-repeat="entry in contr.result">
                    <td>{{ entry.incident_date }} </td>
                    <td>{{ entry.zip }} </td>
                    <td>{{ entry.type }} </td>
                    <td>{{ entry.hours }} </td>
                    <td>{{ entry.description }} </td>
                </tr>
            </table>

        </div>

        <label ng-show="contr.PointedAddress"  >Clicked Location: {{contr.PointedAddress}}</label>


        <div id="map" class="col-md-6"></div>
    </div>

</div>


